* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  background-color: black;
}
.div-container {
  background-color: black;
  width: 100%;
  height: 100vh;
}

.div-container h2 {
  color: wheat;
}

.cabecalho h1 {
  margin: 15px;
}
.cabecalho ul {
  list-style-type: none;
  display: flex;
  margin: 15px;
}

.cabecalho li {
  margin-right: 15px;
}

#corpo {
  margin: 15px;
}

.navbar-nav .nav-link,
.navbar .navbar-brand {
  color: white;
}

.navbar-nav .nav-link:hover,
.navbar .navbar-brand:hover {
  color: rgb(200, 199, 199);
}
