* {
  padding: 0;
  margin: 0;
}

.div-container h2 {
  color: wheat;
}

.cabecalho h1 {
  margin: 15px;
}
.cabecalho ul {
  list-style-type: none;
  display: flex;
  margin: 15px;
}

.cabecalho li {
  margin-right: 15px;
}

#corpo {
  margin: 15px;
}

.Titulo {
  text-align: center;
  margin: 5vh;
}
